// MAIN

main {
  // Varied section background
  section:nth-child(odd) {
    background-image: linear-gradient(45deg, white, black 95%);
  }
  section:nth-child(even) {
    background-image: linear-gradient(45deg, black 25%, white);
  }

  section {
    position: relative;
    padding: 0 7vw 5vh;

    h2 {
      font-size: 2.4rem;
      font-weight: bold;
      padding: 5vh 0 3vh;
    }
    i {
      color: black;
    }
  }

  #about {
    .logo-sk {
      display: none;
    }
    article {
      width: 100%;
    }
  }

  .skills {
    background: linear-gradient(45deg, white 0, black 75%);

    ul {
      p {
        margin-bottom: 7vw;
      }
    }
  }

  .skill {
    display: flex;
    align-items: center;
    i {
      width: 3vw;
      text-align: center;
      margin-right: 30px;
      font-size: 2rem;
    }
  }

  // MAIN MEDIUM

  @include breakpoint-up(medium) {
    #about {
      display: flex;
      article {
        width: 50%;
      }
      .logo-sk {
        display: flex;
        width: 50%;
        justify-content: center;
        align-items: center;
        img {
          opacity: 0.1;
          width: 40%;
          filter: brightness(5000%) drop-shadow(-30px 30px 15px black);
          box-shadow: 20px solid black;
        }
      }
    }
    section {
      width: 100%;
      // padding: 0 10vw;
      padding-bottom: 5vh;
    }

    .skill {
      margin-right: 20px;
      margin-bottom: 10px;
      i {
        margin-right: 15px;
      }
    }
    .skills {
      h2 {
        text-align: center;
      }
      ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        li {
          width: 40%;
        }
        li p {
          margin-bottom: 4vh;
        }
      }
    }
  }
}
