@import "_variables-&-helper-classes";

.portfolio {
  .prj {
    position: relative;
    margin-top: 7vh;

    &__title {
      display: flex;
      align-items: center;
      * {
        margin-right: 10px;
      }
      i {
        font-size: 2rem;
      }
      h3 {
        white-space: nowrap;
        font-size: 1.5rem;
      }
      i:nth-child(3) {
        font-size: 1rem;
      }
    }

    .slider {
      overflow: hidden;
      border-radius: 15px;
      box-shadow: 5px 10px 10px #6c6c6c;
      margin-bottom: 10px;

      &__reel {
        position: relative;
        display: flex;
        transform: translateX(0);
        transition: transform 0.3s;
        border-radius: 55px;
        &::after {
          position: absolute;
          content: "";
          top: 35px;
          bottom: 0;
          left: 10px;
          width: 100%;
          background-color: #6c6c6c;
          z-index: -1;
          box-shadow: 5px 10px 10px 30px #6c6c6c;
        }

        .slide {
          display: flex;
          margin-right: 1%;
          img {
            width: 100%;
            border-radius: 15px;
          }
        }
      }

      .slides-x3 {
        width: 309%;
        .slide {
          width: 33.33%;
        }
      }

      .slides-x2 {
        width: 204%;
        .slide {
          width: 50%;
        }
      }
    }

    .slider-navigation {
      justify-content: center;
      &__btn-container {
        width: 70%;
        justify-content: space-around;
        .slide-btn {
          cursor: pointer;
          border: none;
          background: none;
          font-weight: bold;
          font-size: medium;
          box-sizing: border-box;
          transition: all 0.3s;
          color: $dark;
        }
        .slide-btn:hover {
          transform: scale(1.2);
          color: $light;
        }
      }
    }

    &__img-box {
      display: flex;
      width: 100%;
      position: relative;
      border-radius: 20px;
      overflow: hidden;
      box-shadow: 5px 10px 10px #6c6c6c;

      img {
        width: 100%;
        margin-bottom: 0;
      }

      .img__overlay {
        position: absolute;
        border-radius: 10px;
        top: 0%;
        left: 0%;
        right: 0%;
        bottom: 0%;
        background: rgba(29, 19, 19, 0.615);
        opacity: 0;
        visibility: hidden;
        transition: all 0.3s;
        transform: scale(0.2, 0.2);
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 10%;
        ul {
          padding-left: 5%;
        }
        li {
          list-style: disc;
        }
        p,
        li {
          font-size: 0.8rem;
        }
        nav {
          transform: translateY(180%);
          transition: all 1s;
          display: flex;
          justify-content: space-around;
          i {
            color: white;
            font-size: 1.4rem;
          }
        }
        ul {
          transform: translateY(-80%);
          transition: all 1s;
        }
        p {
          transform: translateX(-180%);
          transition: all 1s;
          transition-delay: 0.3s;
        }

        &:hover nav,
        &:hover ul,
        &:hover p {
          transform: translate(0);
        }
      }
    }

    &__img-box:hover .img__overlay {
      opacity: 1;
      visibility: visible;
      transform: scale(1, 1);
    }

    &__skills-used {
      flex-wrap: wrap;
      margin-top: 2vh;
      margin-bottom: 1vh;
      li {
        font-weight: 600;
        background: linear-gradient(
          45deg,
          rgb(93, 93, 93),
          14%,
          rgb(164, 164, 164)
        );
        box-shadow: 5px 10px 10px #00000061;

        padding: 1vw;
        font-size: small;
        margin-right: 1vw;
        border-radius: 5px;
      }
    }
  }
}

@include breakpoint-up(medium) {
  .portfolio {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    &__info {
      width: 100%;
    }
    .prj {
      width: 45%;
      margin-top: 0;
      margin-bottom: 7vh;

      h3 {
        font-size: 1.2rem;
      }

      &__title {
        margin-bottom: 1vh;
      }

      &__skills-used {
        margin-top: 0vh;
        margin-bottom: 1vh;
        li {
          padding: 0.45vw;
        }
      }
    }
  }
}
