@use "@/styles/_partials";

.portfolio {
  @include partials.breakpoint-up(medium) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    h3 {
      font-size: 1.2rem;
    }
  }

  h2 {
    width: 100%;
    margin-bottom: 10px;
  }
  h2:not(:first-child) {
    margin-top: 5rem;
  }
}
