* {
  margin: 0;
  padding: 0;
  border: 0;
  list-style: none;
  box-sizing: border-box;
}

@font-face {
  font-family: FS Me Pro Regular;
  src: url("./fonts/FSMePro-Regular.otf");
}

@font-face {
  font-family: FS Me Pro Bold;
  src: url("./fonts/FSMePro-Bold.otf");
}

@font-face {
  font-family: FS Me Pro Light;
  src: url("./fonts/FSMePro-Light.otf");
}

* {
  font-family: "FS Me Pro Light";
  list-style: none;
  font-weight: lighter;
}

p,
address {
  font-size: 1.1em;
}

address {
  font-style: normal;
}

h3 {
  font-weight: bold;
  font-size: 2.5rem;
}

button {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 35px;
  font-size: 0.7rem;
  border-color: transparent;
  border-radius: 30px;
  background-color: #804236;
  cursor: pointer;
  padding: 0 10px;
}
button svg {
  width: 12px;
}

/*Header*/

header {
  position: rela;
  width: 100%;
  height: 100vh;
  margin-bottom: -500px;
  display: flex;
  background-color: #804236;
}

.logo {
  color: white;
  font-size: 3vw;
  font-family: FS Me Pro Light;
  border: 3px solid white;
  border-radius: 10px;
  padding: 0.5vw 1vw;
  display: inline-flex;
}

header nav {
  position: absolute;
  width: 100%;
  height: 100px;
  z-index: 2;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo-and-list {
  width: 65vw;
  height: 100px;
  display: flex;
  align-items: center;
  display: flex;
  justify-content: space-around;
}

header nav ul {
  width: 70%;
  font-weight: bold;
  list-style: none;
  display: flex;
  justify-content: space-around;
}

a {
  text-decoration: none;
  color: white;
}

nav button {
  display: flex;
  margin-right: 3%;
  background-color: white;
  float: right;
  color: black;
  width: 120px;
}

.man-reading {
  margin-left: 35%;
  width: 65%;
  object-fit: cover;
}

/*Section*/

section {
  margin-top: 16vh;
  background-color: #9bd2f1;
  padding-top: 200px;
  clip-path: polygon(35% 0, 100% 50vh, 100% 100%, 0 100%, 0 5%);
  line-height: auto;
  overflow: hidden;
}
section,
section button {
  color: white;
}

.container {
  padding: 20px 10vw;
  overflow: hidden;
}

.container > p {
  margin-bottom: 50px;
}

h2 {
  font-family: FS Me Pro Regular;
  font-size: 3.5rem;
  font-weight: bold;
}

section .container > p {
  margin-bottom: 50px;
}

.explore-and-watch {
  display: flex;
  align-items: center;
  height: 40px;
}

.explore-and-watch button {
  width: 90px;
  margin-right: 30px;
}

.explore-and-watch .circle-button {
  background-color: white;
  width: 35px;
  margin-right: 10px;
  padding-left: 13px;
}

.explore-and-watch .circle-button svg {
  color: #804236;
}

.explore-and-watch a {
  display: flex;
  align-items: center;
}

.explore-and-watch a p {
  border-bottom: 1px solid white;
  padding-bottom: 2px;
}

.container ul {
  margin-top: 50px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.container ul li {
  position: relative;
  width: 47%;
  margin-top: 30px;
}

.container ul li .contact {
  display: block;
}

.container ul li .contact * {
  font-size: 1rem;
}

.container ul li .contact address {
  margin-bottom: 20px;
}

.container ul li .contact p {
  margin-top: 20px;
}

.container ul li .contact p,
.container ul li .contact a:last-of-type {
  font-weight: bold;
}

.container ul li img {
  width: 100%;
}

.container ul li button {
  width: 140px;
}

.container ul li .contact a:last-of-type {
  text-decoration: underline;
}

.container ul li .img-box img {
  width: 100%;
  height: 300px;
}

.container ul li h3 {
  margin-top: 40px;
  height: 70px;
  display: flex;
  align-items: flex-end;
}

.play-video {
  width: 100%;
  position: relative;
  margin-top: 50px;
}

.play-video img {
  width: 100%;
}

.play-video .play-button {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  right: 0;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.play-video .play-button button {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: #9bd2f1;
}

.play-video .play-button button svg {
  width: 35px;
  padding-left: 5px;
}

.what-we-do {
  margin: 120px 250px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.what-we-do p,
h2,
button {
  margin: 20px 0;
}

.what-we-do h2 {
  display: block;
  text-align: center;
}

.what-we-do a button {
  background-color: #804236;
  width: 110px;
}

.our-stories {
  position: relative;
  line-height: 0;
}

.our-stories img {
  width: 100%;
}

.our-stories .rectangle-layer {
  width: 100%;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  right: 0;
  background-color: #804236;
  opacity: 0.5;
  z-index: 0;
}

.our-stories .triangle-layer-1 {
  position: absolute;
  z-index: 1;
  top: 0;
  right: 0;
  left: 0;
  right: 0;
  background-color: #804236;
  clip-path: polygon(75% 0, 100% 100%, 100% 0);
  opacity: 0.5;
}

.our-stories .triangle-layer-2 {
  position: absolute;
  z-index: 1;
  top: 0;
  right: 0;
  left: 0;
  right: 0;
  background-color: #9bd2f1;
  clip-path: polygon(75% 100%, 100% 100%, 100% 0);
  opacity: 0.5;
}

.story-example {
  position: absolute;
  top: 20%;
  left: 10%;
  right: 55%;
}

.story-example p,
h3 {
  margin-bottom: 25px;
}

.story-example h3 {
  font-size: 30px;
  font-weight: bold;
  line-height: normal;
}

.story-example a button {
  width: 100px;
}

.story-example a * {
  background-color: white;
  color: #804236;
}

/*FOOTER*/

footer {
  position: relative;
  /* margin-top: 180px;  */
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  background-color: #4c4e52;
}

footer .logo {
  line-height: normal;
  margin-right: 20px;
}

footer > * {
  font-size: 0.8rem;
  line-height: 1.4rem;
}

footer .navigation {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 25px;
}

footer::after {
  content: "";
  position: absolute;
  background-color: white;
  width: 100%;
  height: 1px;
  left: 0;
  top: 290px;
}

footer nav > a,
footer p,
footer address {
  color: white;
  opacity: 50%;
}

footer .get-directions {
  display: flex;
}

footer nav:first-child a:last-child {
  opacity: 1;
}
footer .get-directions svg {
  width: 12px;
  margin-left: 0.3rem;
}

footer nav:nth-child(4) a,
footer h4 {
  color: white;
  opacity: 1;
}

footer nav:nth-child(4) {
  line-height: 0.4;
}
footer nav:nth-child(4) a {
  display: flex;
  border: 1px solid white;
  border-radius: 50%;
  margin-bottom: 5px;
}
footer nav:nth-child(4) svg {
  width: 20px;
  padding: 5px;
}

footer > a:last-child {
  margin-left: 150px;
}

footer > p {
  margin-top: 50px;
}

footer .lower-footer {
  display: flex;
  margin-top: 10px;
}

footer .lower-footer p {
  font-size: 0.8rem;
}

footer .lower-footer img {
  width: 15%;
  object-fit: contain;
  margin-right: 40px;
}

.bottom-links {
  display: flex;
  text-align: center;
}

.bottom-links a {
  display: block;
  width: 20%;
  /* height: 30px; */
  padding: 8px 0;
}

.bottom-links a:first-child {
  background-color: #f7be1f;
  color: #e13316;
}

.bottom-links a:nth-child(2) {
  background-color: #9bd2f1;
  color: #e13316;
}

.bottom-links a:nth-child(3) {
  background-color: #6c4791;
  color: #ed8c01;
}

.bottom-links a:nth-child(4) {
  background-color: #b5ca52;
  color: #00517a;
}

.bottom-links a:nth-child(5) {
  background-color: #6c4791;
  color: #81c3af;
}
