$amber: #d67701;

// MAIN

main * > * {
  margin-bottom: 1vh;
}

main {
  section:nth-child(odd) {
    // background: linear-gradient(
    //   180deg,
    //   rgb(25, 24, 32),
    //   rgb(102, 102, 145) 280%
    // );
  }
  section:nth-child(even) {
    // background: linear-gradient(180deg, rgb(102, 102, 145), rgb(25, 24, 32));
  }

  section {
    position: relative;
    padding: 0 7vw 5vh;

    // padding-bottom: 5vh;
    h2 {
      font-size: 2.4rem;
      font-weight: bold;
      padding: 5vh 0 3vh;
    }
    p {
      margin-bottom: 4vh;
    }
    &:not(:last-of-type)::after {
      content: "";
      position: absolute;
      width: 20vw;
      height: 1px;
      background: $amber;
      color: $amber;
      font-size: large;
      bottom: 0;
      left: calc(50% - 10vw);
    }
    i {
      color: black;
    }
  }

  .education {
    p {
      a {
        color: $amber;
        border-bottom: 1px solid $amber;
      }
    }
    h3 {
      i {
        font-size: 2.4rem;
        padding-right: 1vw;
      }
    }
  }

  .skill {
    display: flex;
    align-items: center;
    i {
      width: 3vw;
      text-align: center;
      margin-right: 30px;
      font-size: 2rem;
    }
  }

  .skills {
    ul {
      margin-top: 7vw;
      display: block;
      p {
        margin-bottom: 7vw;
      }
    }
    @include breakpoint-up(medium) {
      ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        li {
          width: 40%;
        }
      }
    }
  }

  .prj {
    margin-top: 7vh;

    .img-box {
      display: block;
      width: 100%;
      position: relative;

      img {
        margin-top: 15px;
        width: 100%;
      }

      img:nth-child(even) {
        position: absolute;
        width: 20%;
        bottom: 0;
        right: 0;
      }
    }
    a:first-child {
      display: flex;
      align-items: center;
      color: black;
      margin-bottom: 1vh;
      i {
        font-size: 2.9rem;
        margin: 0;
      }
      h3 {
        font-size: 1.7rem;
        margin-left: 20px;
        margin-bottom: 0;
        i {
          font-size: 1.4rem;
        }
      }
    }
    a:nth-child(2) {
      color: black;
      font-size: 1.2rem;
      font-weight: normal;
      i {
        font-size: 1rem;
      }
    }
    ul {
      flex-wrap: wrap;
      margin-top: 2vh;
      margin-bottom: 1vh;
    }
    li {
      background: rgb(185, 185, 185);
      padding: 1vw;
      font-size: small;
      margin-right: 1vw;
      border-radius: 5px;
    }
    & > a:nth-of-type(even) {
      display: inline-block;
      padding: 8px 20px;
      border-radius: 10vw;
      color: black;
      font-size: small;
      background: rgba(169, 144, 73, 0.463);
      i {
        color: black;
        font-size: medium;
        padding-left: 1vw;
      }
    }
  }

  .slides {
    overflow: hidden;

    input[name="r"] {
      display: none;
    }

    .slide-window {
      display: flex;
      width: 333%;
      .img-box {
        width: 30%;
        margin: 0 3% 0 0;
        transition: 0.6s;
      }
    }
    .navigation {
      display: flex;
      justify-content: space-evenly;
      .bar {
        // background: red;
        width: 20vw;
        height: 2rem;
        text-align: center;
        cursor: pointer;
        transition: 0.4s;
        font-size: large;
        &:hover {
          background: white;
          font-size: 1.5rem;
          font-weight: bolder;
          transition: all 0.3s;
        }
      }
    }
    #r1:checked ~ .s1,
    #r5:checked ~ .s1,
    #r7:checked ~ .s1 {
      margin-left: 0;
    }
    #r2:checked ~ .s1,
    #r6:checked ~ .s1,
    #r8:checked ~ .s1 {
      margin-left: -33%;
    }
    #r3:checked ~ .s1 {
      margin-left: -66%;
    }
  }

  // MAIN LARGE

  @include breakpoint-up(large) {
    section {
      padding-top: 8vh;
      padding-bottom: 5vh;
    }
    .about,
    .education {
      padding-right: 12vw;
    }
    .skill {
      margin-right: 20px;
      i {
        margin-right: 15px;
      }
    }
    .skills ul {
      margin-top: 7vh;
      li p {
        margin-bottom: 4vh;
      }
    }
    .portfolio {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      .info {
        width: 100%;
      }
      .prj {
        width: 45%;
        ul {
          margin-bottom: 2vh;
          li {
            padding: 0.7vw;
          }
        }
        .slide {
          margin-top: 4vh;
        }
        a:nth-of-type(even) {
          padding: 0.8vw 1vw;
          i {
            padding-left: 10px;
          }
        }
      }
    }
  }
}
