.portfolio {
  .prj {
    margin-top: 7vh;

    &__title {
      display: inline-flex;
      align-items: center;
      * {
        margin-right: 10px;
      }
      i {
        font-size: 2rem;
      }
      h3 {
        font-size: 1.5rem;
      }
      i:nth-child(3) {
        font-size: 1rem;
      }
    }

    .slider {
      overflow: hidden;
      border-radius: 15px;
      box-shadow: 5px 10px 10px #6c6c6c;
      margin-bottom: 10px;

      &__reel {
        position: relative;
        display: flex;
        transform: translateX(0);
        transition: transform 0.3s;
        border-radius: 55px;
        &::after {
          position: absolute;
          content: "";
          top: 35px;
          bottom: 0;
          left: 10px;
          width: 100%;
          background-color: #6c6c6c;
          z-index: -1;
          box-shadow: 5px 10px 10px 30px #6c6c6c;
        }

        .slide {
          display: flex;
          border-radius: 55px;
          margin-right: 1%;
          img {
            width: 100%;
            border-radius: 15px;
          }
        }
      }

      .slides-x3 {
        width: 309%;
        .slide {
          width: 33.33%;
        }
      }

      .slides-x2 {
        width: 204%;
        .slide {
          width: 50%;
        }
      }
    }

    .slider-navigation {
      justify-content: center;
      &__btn-container {
        width: 70%;
        justify-content: space-around;
        .slide-btn {
          cursor: pointer;
          border: none;
          background: none;
          font-weight: bold;
          font-size: medium;
          box-sizing: border-box;
          transition: all 0.3s;
        }
        .slide-btn:hover {
          transform: scale(1.2);
          color: #d67701;
        }
      }
    }

    &__img-box {
      display: flex;
      width: 100%;
      position: relative;
      border-radius: 20px;
      overflow: hidden;
      box-shadow: 5px 10px 10px #6c6c6c;

      img {
        // margin-top: 15px;
        width: 100%;
        margin-bottom: 0;
      }

      img:nth-child(even) {
        position: absolute;
        width: 20%;
        bottom: 0;
        right: 0;
      }
    }

    &__skills-used {
      flex-wrap: wrap;
      margin-top: 2vh;
      margin-bottom: 1vh;
      li {
        font-weight: 600;
        background: linear-gradient(
          45deg,
          rgba(188, 187, 187, 0.394),
          14%,
          rgb(239, 238, 238)
        );
        box-shadow: 5px 10px 10px #afafaf;

        padding: 1vw;
        font-size: small;
        margin-right: 1vw;
        border-radius: 5px;
      }
    }
  }
}

@include breakpoint-up(medium) {
  .portfolio {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    &__info {
      width: 100%;
    }
    .prj {
      width: 45%;
      margin-top: 0;

      margin-bottom: 7vh;
      &__skills-used {
        margin-bottom: 2vh;
        li {
          padding: 0.45vw;
        }
      }
    }
  }
}
