@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-style: normal;
  list-style: none;
}

/*Common styling*/

main,
footer {
  font-size: 2.5vh;
}

* {
  font-family: "Open Sans", sans-serif;
  line-height: 2em;
  list-style: none;
}

h2,
h3 {
  line-height: 1.5em;
}

a,
address {
  text-decoration: none;
  color: white;
  font-style: normal;
}

.button {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 0.8em;
}

.button::after {
  content: "";
  width: 20%;
  height: 1px;
}

.outer-container {
  margin-left: 15%;
}

.container {
  margin-left: 5%;
}

.logo {
  font-size: 3vw;
  color: white;
  border: 3px solid #7f7e7e;
  border-radius: 10px;
  padding: 0 1vw;
  display: inline-flex;
  margin-left: 40px;
  margin-right: 70px;
  color: #7f7e7e;
}

.fixed {
  position: fixed;
  display: flex;
  transform: rotate(-90deg);
  margin: 250px 0 0 -240px;
}

.fixed a {
  width: 400px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #7f7e7e;
  font-size: 1.8vh;
}

.fixed a::before {
  content: "";
  width: 60px;
  height: 1px;
  background-color: #7f7e7e;
}

/*Header*/

header {
  position: relative;
  width: 100%;
  height: 800px;
  font-size: 1.8vh;
  clip-path: polygon(0 0, 100% 0%, 100% 100%, 0% 100%);
}

header .blue {
  width: 100%;
  height: 600px;
  font-size: 1.8vh;
  background-color: #5bb3e0;
  clip-path: polygon(0 0, 100% 0%, 100% 100%, 0% 100%);
}

header .blue .fixed2 {
  position: fixed;
  display: flex;
  transform: rotate(-90deg);
  margin: 250px 0 0 -240px;
}

header .blue .fixed2 .logo {
  color: white;
  border: 3px solid white;
}

header .blue .fixed2 a {
  width: 400px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
}

header .blue .fixed2 a::before {
  content: "";
  width: 60px;
  height: 1px;
  background-color: white;
}

header .blue nav {
  display: flex;
  width: 100%;
  justify-content: space-between;
  box-sizing: border-box;
  padding: 40px 60px 0 150px;
}

header .blue nav ul {
  width: 30vw;
  display: flex;
  justify-content: space-between;
}

.contact-address {
  display: flex;
  width: 35vw;
  justify-content: space-between;
}

.contact-address .contact a {
  display: block;
}

header h2 {
  width: 55%;
  color: white;
  font-size: 5vh;
  margin: 6vw 0 0 20vw;
}

.sofa {
  position: absolute;
  z-index: 1;
  top: 250px;
  left: 15%;
  width: 70%;
  margin-top: 60px;
}

header > .button {
  width: 440px;
  height: 70px;
  background-color: #f7f7f7;
  color: #5bb3e0;
  top: 104vh;
  left: 52%;
  position: absolute;
  z-index: 2;
}

header > .button::after {
  content: "";
  width: 70px;
  height: 1px;
  background-color: #5bb3e0;
}

header .icons {
  display: block;
  position: absolute;
  top: 70vh;
  right: 40px;
  color: white;
}

header .icons i {
  display: block;
  font-size: 20px;
  margin-top: 10px;
}

/*MAIN*/

main {
  position: relative;
}

main .container article h3,
main .container article p {
  width: 40vw;
}

main article h3 {
  margin: 60px 0 30px 0;
  font-weight: normal;
  font-size: 3.5vh;
}

main article p {
  line-height: 4vh;
}

main ul {
  display: flex;
  margin: 50px 0 0 0;
  position: relative;
  padding-left: 5%;
}

main ul li {
  position: relative;
  width: 35vh;
  height: 400px;
  color: #63abda;
  margin-right: 5vw;
}

main ul li img {
  height: 50%;
}

main ul li img,
p {
  width: 100%;
}

main ul li .button {
  position: absolute;
  bottom: -20px;
  width: 80%;
  height: 50px;
  background-color: white;
  color: #052655;
}

main ul li:nth-child(2) a {
  background-color: #5bb3e0;
}

main ul li h4 {
  font-weight: normal;
  margin-bottom: 0.5em;
  font-size: 1.2em;
}

main ul li p {
  font-size: 0.75em;
}

main ul li .button::after {
  background-color: #052655;
}

main ul .lower-layer {
  content: "";
  position: absolute;
  background-color: #ecf5fb;
  top: 120px;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
}

main .container h5 {
  width: 50vw;
  margin: 100px 0 30px 0;
  font-weight: normal;
  font-size: 1.7em;
  line-height: 1.5em;
  color: #5bb3e0;
}

main .container > .button {
  width: 200px;
  height: 40px;
  background-color: #5bb3e0;
}
main .container > .button::after {
  background-color: white;
}

/* FOOTER */

footer {
  width: 80%;
  margin: 80px 0;
  padding-top: 40px;
  border-top: 1px solid #e5e5e5;
}

footer .top-footer {
  display: flex;
  justify-content: space-between;
}

footer * {
  color: #a2a2a2;
  font-size: 1.5vh;
}

footer nav {
  display: flex;
  flex-flow: column wrap;
  align-items: baseline;
  align-content: space-between;
  width: 200px;
  height: 9vh;
  margin-bottom: 20px;
}

footer .contact-address {
  width: 25vw;
}

footer p {
  margin-bottom: 1em;
}
