@font-face {
  font-family: FS Me Pro Regular;
  src: url("../fonts/FSMePro-Regular.otf");
}

@font-face {
  font-family: FS Me Pro Bold;
  src: url("../fonts/FSMePro-Bold.otf");
}

@font-face {
  font-family: FS Me Pro Light;
  src: url("../fonts/FSMePro-Light.otf");
}

@font-face {
  font-family: Arial Rounded Bold;
  src: url("../fonts/Arial-Rounded-Bold.ttf");
}
