* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Fs Me Pro Light;
  text-decoration: none;
  font-style: normal;
  line-height: 1.6;
  list-style: none;
}

p,
label,
h2,
span,
svg {
  color: white;
}

.logo {
  font-size: 3vw;
  font-family: Arial Rounded Bold;
  border: 3px solid white;
  border-radius: 10px;
  padding: 0 1vw;
  display: inline-flex;
}

.i-pl {
  padding-left: 0.8vw;
}

.i-big {
  font-size: 1.5vw;
}

.container {
  margin: 0 10vw;
}

.button {
  position: relative;
  padding: 0.9vw 2vw 0.8vw;
  border-radius: 5vw;
}

.button::after {
  position: absolute;
  right: 2vw;
  font-size: 2.2vw;
  padding-left: 2vw;
}

.scroll-to-forms {
  cursor: pointer;
}

.flex {
  display: flex;

  &-jc-sb {
    justify-content: space-between;
  }

  &-jc-c {
    justify-content: center;
  }

  &-ai-c {
    align-items: center;
  }
}

.triangle {
  position: absolute;
  width: 30vw;
  height: 30vw;
  background: $honey;
  clip-path: polygon(0 50%, 100% 100%, 100% 0);
  transform: translateY(50%);
  // clip-path: polygon(0 100%, 100% 100%, 100% 0);
}
