//Colors
$white: #FFFFFF;
$magenta: #AE126C;
$darkGrey: #4C4E52;
$honey: #ED8C01;
$grey: #707070;
$black: #1D252E;
$lightGreen: #B5CA52;
$yellow: #F7BE1F;
$lightBlue: #9BD2F1;
$purple: #6C4791;
$red: #E13316;
$navyBlue: #00517A;
$teal: #81C3AF;

//Fonts
$xSmall: 1vw;
$small: 1.1vw;
$medium: 1.6vw;
$big: 1.5vw;
$large: 2.1vw;