/*Common styling*/

* {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  font-family: Inter;
  background: #edeef2;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.websk {
  position: relative;
  font-size: 1.8vw;
  color: black;
  line-height: 1.3;
  text-align: center;
}
.websk::after {
  position: absolute;
  content: "";
  top: 2.4vw;
  width: 70%;
  height: 2px;
  background-color: rgba(0, 0, 0, 0.326);
}

.page-select {
  position: fixed;
  z-index: 1;
  color: white;
  background-color: #080c2f;
  width: 6.3vw;
  height: 6.3vw;
  right: 1vw;
  bottom: 1vw;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 1.3vw;
}
.page-select .page-num span {
  font-size: 1vw;
}
.page-select .page-num a {
  font-size: 1.3vw;
}
.page-select a {
  font-size: 2vw;
  line-height: 1.7;
  text-decoration: none;
  color: white;
  font-size: inherit;
}

.page-select .page-num a:hover {
  color: #40cccc;
}

/* MAIN NAV */

.brgr-menu {
  display: none;
}

body > nav {
  position: fixed;
  z-index: 1;
  width: 5%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: #ffffff;
}

body > nav a {
  width: 100%;
  height: 5vw;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.5s, filter 0.5s;
}

body > nav a:hover {
  background-color: black;
  transition: background-color 0.5s;
  color: white;
}

body > nav a:hover::after {
  background: white;
}

body > nav a:not(:nth-child(2)):hover img {
  filter: invert();
  transition: filter 0.5s;
}

body > nav > a {
  border-top: 1px solid #edeef2;
}

body > nav a img {
  height: 50%;
}

body > nav ul a:nth-child(2) {
  background: #080c2f;
}

/* SECTION */

section {
  margin-top: 2.6vw;
  width: 100%;
}

.container,
.presentations {
  padding: 0 8vw;
  box-sizing: border-box;
}

section > * {
  margin-bottom: 2vw;
}

h2 {
  font-size: 1.5rem;
  font-weight: 400;
}

section nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.button {
  background: #080c2f;
  font-size: 1vw;
  color: white;
  padding: 1vw;
  border-radius: 5px;
}

section > nav > ul .button {
  background: #080c2f;
  font-size: 0.7vw;
  color: white;
  padding: 0.4vw 0.7vw;
  border-radius: 3px;
  margin-left: 0.3vw;
}

section > nav > ul .button:not(:first-child) {
  background: white;
  color: #a1a3a8;
}

section > ul {
  width: 100%;
  display: grid;
  grid-template-rows: repeat(3, 35vh);
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 2vw;
  margin-bottom: 15vh;
}

section > ul > li {
  background: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10%;
  box-sizing: border-box;
  border-radius: 10px;
}

section ul li nav {
  display: flex;
  align-items: center;
}

section ul li nav .button {
  background: #fff5c7;
  color: #e0b500;
  font-size: 0.8vmax;
  padding: 3% 5%;
  border-radius: 3px;
}

section ul li:nth-child(3) nav .button {
  background: #ededed;
  color: #8d8d8d;
}

section ul li:nth-child(3) ~ li nav .button {
  background: #e1ffc7;
  color: #3fa327;
}

section ul li nav ul img {
  height: 1.2vw;
  margin-left: 0.3vw;
}

.title h3 {
  width: 83%;
  font-size: 1.1vw;
  font-weight: 500;
  line-height: 1.5vw;
  margin: 1vw 0;
}

.title p {
  font-size: 0.7vmax;
  color: #afafaf;
}

.shadow {
  position: fixed;
  bottom: -28vh;
  width: 100vw;
  height: 200px;
  background-color: #edeef2;
  box-shadow: 10px -10px 80px 50px #edeef2;
}

@media only screen and (max-width: 1000px) {
  .page-select {
    width: 14vw;
    height: 14vw;
    right: 2vw;
    bottom: 2vw;
    font-size: 2.6vw;
  }
  .page-select .page-num span {
    font-size: 2vw;
  }
  .page-select .page-num a {
    font-size: 2.6vw;
  }

  body > nav {
    display: none;
  }

  .presentations {
    display: flex;
    align-items: center;
  }

  .brgr-menu {
    display: block;
    position: relative;
    margin-right: 5%;
  }

  .brgr-menu,
  .brgr-menu::before,
  .brgr-menu::after {
    width: 6vw;
    height: 0.5vw;
    background: black;
    border-radius: 3px;
  }

  .brgr-menu::before {
    position: absolute;
    content: "";
    top: -3vw;
  }

  .brgr-menu::after {
    position: absolute;
    content: "";
    top: 3vw;
  }

  h2 {
    font-size: 5.8vw;
  }

  section {
    margin-top: 10vw;
  }

  section > * {
    margin-bottom: 7vw;
  }

  section > nav {
    align-items: flex-start;
    flex-direction: column;
  }

  section > nav .button {
    font-size: 3.2vw;
    padding: 3vw 5vw;
    border-radius: 5px;
    margin-bottom: 5vw;
  }

  section nav ul .button {
    font-size: 3vmin;
    padding: 2vw 4vw;
    border-radius: 5px;
    margin-right: 2vw;
  }

  section > ul {
    display: block;
  }

  section > ul li {
    margin-bottom: 8vw;
    padding: 4vw;
  }

  section > ul li .title p {
    font-size: 3vw;
  }

  section > ul li .title h3 {
    font-size: 4vw;
    width: 75%;
    font-weight: 400;
    line-height: 6vw;
    margin: 5vmin 0;
  }

  section > ul li nav {
    margin-top: 6vmin;
  }

  section > ul li nav .button {
    font-size: 3vw;
    padding: 2vw 3vw;
  }

  section ul li nav ul img {
    height: 4.5vw;
    margin-left: 3vw;
  }

  .shadow {
    display: none;
  }
}
