@font-face {
  font-family: FS Me Pro Regular;
  src: url("FSMePro-Regular.otf");
}

@font-face {
  font-family: FS Me Pro Bold;
  src: url("FSMePro-Bold.otf");
}

@font-face {
  font-family: FS Me Pro Light;
  src: url("FSMePro-Light.otf");
}

@font-face {
  font-family: Arial Rounded Bold;
  src: url("Arial-Rounded-Bold.ttf");
}
