@use "globals.scss";

// Header-Under-Hero / Style properties for both Headers
.header {
  position: fixed;
  z-index: 3;
  top: 0;
  right: 0;
  width: 100%;
  display: none;
  align-items: center;
  justify-content: space-between;
  box-shadow: -0.125rem 0.375rem 1rem rgba(0, 0, 0, 0.2);
  background: linear-gradient(
    90deg,
    rgba(247, 247, 247, 0.936) 50%,
    rgb(195, 194, 194)
  );

  &__logo {
    width: 3%;
    img {
      display: block;
      width: 100%;
    }
  }

  nav {
    display: flex;
    z-index: 1;
    a {
      display: block;
      margin-right: 2vw;
      color: black;
      font-size: large;
      transition: all 0.3s;
      font-weight: bolder;
      &:hover {
        transform: scale(1.2);
        text-shadow: $text-shadow;
      }
    }
  }

  // cancels hiding Header-Under-Hero on large resolution

  @include breakpoint-up(large) {
    display: flex;
    padding: 0.7vw 8vw;
    nav a:hover {
      text-shadow: none;
    }
  }
}

// HERO HEADER

.hero__header {
  position: absolute;
  display: flex;
  justify-content: flex-end;
  nav {
    position: absolute;
    top: 100px;
    right: 8vw;
    flex-direction: column;
    align-items: flex-end;
    a {
      margin-right: 0;
      margin-bottom: 10px;
      color: white;
    }
  }

  @include breakpoint-up(large) {
    display: flex;
    position: fixed;
    background: linear-gradient(rgba(0, 0, 0, 0.936) 10%, rgba(0, 0, 0, 0.202));
    nav {
      position: static;
      top: 0;
      flex-direction: row;
      a {
        margin-bottom: 0;
        transform: none;
        margin-right: 2vw;
        color: white;
        font-weight: bolder;
      }
    }
  }
}
