@use "_partials";

.about {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;

  h2 {
    font-size: 2.5rem;
    margin-bottom: 20px;
  }
  .textWrapper {
    height: 60vh;
    overflow-y: scroll;
  }
  p {
    // padding-right: calc(var(--padding) * 2);
    margin-bottom: 1rem;
  }

  @include partials.breakpoint-up(medium) {
    flex-direction: row;
    gap: 2rem;
    .textWrapper {
      height: 100%;
    }
    p {
      max-width: 500px;
    }
  }
}

//
//
//
.logoImg {
  display: none;
  opacity: 0.25;
  filter: invert(100%) drop-shadow(0 0 10px var(--golden));
  @include partials.breakpoint-up(large) {
    display: block;
  }
}

//
//
//
.skillWrapper {
  display: flex;
  gap: 1rem;
  img {
    // filter: saturate(100) brightness(1000);
  }
}
