// FOOTER

.footer {
  position: relative;
  padding: 3vw;
  background: black;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;

  &__btn--back-to-top {
    padding-top: 2vw;
    color: white;
    span {
      display: block;
      margin: 0;
      width: 2vw;
      height: 2vw;
      border-left: 1px solid white;
      border-top: 1px solid white;
      margin: -0.9vw auto;
      transform: rotate(45deg);
      animation: animate 2s infinite;
      &:nth-child(2) {
        animation-delay: -0.2s;
      }
      &:nth-child(3) {
        animation-delay: -0.4s;
      }
      @keyframes animate {
        0% {
          opacity: 0.2;
        }
        50% {
          opacity: 1;
        }
        100% {
          opacity: 0.2;
        }
      }
    }
  }
  p {
    color: white;
    margin: 1vw 0 2vw;
  }
  &__icons {
    display: flex;
    width: 120px;
    justify-content: space-between;
    i {
      font-size: 2rem;
    }
  }
}
