@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200;400;600&family=Oxygen:wght@300;400;700&family=Source+Sans+Pro:wght@400;600;700&display=swap");

:root {
  --golden: #d9c65a;
  --padding: 30px;
  @media screen and (min-width: 375px) {
    --padding: 10vw;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  font-family: Oxygen;
  font-weight: 400;
}

html {
  overflow-x: hidden;
  background-image: linear-gradient(45deg, black 15%, rgba(0, 0, 0, 0.619)),
    url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAHElEQVQIW2OU1LT4//z6CUYGKIAzMARgKjFUAABQxQgFH95/xgAAAABJRU5ErkJggg==);
  background-attachment: fixed;
  background-blend-mode: screen;
}

a {
  color: rgb(189, 172, 112);
  text-decoration: none;
  transition: all 0.3s;
}
a:hover {
  color: var(--golden);
}

button {
  border: none;
}

section {
  /* padding-bottom: 1000px; */
  overflow-y: scroll;
  padding: 100px var(--padding) 50px;
}

section h2 {
  font-size: 2.5rem;
  margin-bottom: 1.5rem;
}

.wrapper {
  /* designed for feathered footer effect at the bottom */
  /* overflow: hidden; */
  display: flex;
  position: fixed;
  overflow-y: scroll;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: -1;
  mask-image: linear-gradient(black 80%, transparent 99%);
}

strong {
  font-weight: bold;
  color: white;
}

h1,
h2,
h3,
h4 {
  font-family: Oswald;
  color: rgba(255, 255, 255, 0.9);
}

html {
  scroll-behavior: smooth;
}

p,
li {
  font-size: 0.875rem;
  line-height: 1.5rem;
  font-family: Source Sans Pro;
  color: rgba(255, 255, 255, 0.708);
}

h1,
h2,
h3,
p {
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.423);
}

@media only screen and (min-width: 63.9375rem) {
  p,
  li {
    font-size: 1rem;
    line-height: 1.6rem;
  }
}

/* Font Awesome */

.hero__icons a,
.footer__icons a {
  color: white;
  font-size: 2rem;
}

/* Hover states */

.header__logo:hover,
.body__header__icons:hover {
  color: #5c2924;
}

.header__logo,
.hero__icons *,
.footer__icons * {
  transition: transform 0.2s;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.423);
}

.header__logo:hover,
.hero__icons *:hover,
.footer__icons *:hover {
  transform: scale(1.1);
}
