@use "_partials";

// Header-Under-Hero / Style properties for both Headers
.header {
  position: fixed;
  z-index: 3;
  top: 0;
  right: 0;
  width: 100%;
  display: none;
  align-items: center;
  justify-content: space-between;

 

  &__nav-menu {
    position: absolute;
    display: flex;
    z-index: 1;
    flex-direction: column;
    background: linear-gradient(rgba(0, 0, 0, 0.58) 0%, transparent 100%);
    position: absolute;
    top: 0px;
    right: 0vw;
    height: 100vh;
    padding: 70px 8vw 0 2vw;
    flex-direction: column;
    align-items: flex-end;
    a {
      display: block;
      color: black;
      font-size: large;
      transition: all 0.3s;
      font-weight: bolder;
      margin-right: 0;
      margin-bottom: 10px;
      color: white;
      &:hover {
        transform: scale(1.2);
        text-shadow: partials.$text-shadow;
      }
    }
  }

  // cancelss hiding Header-Under-Hero on large resolution

  @include partials.breakpoint-up(large) {
    display: flex;
    padding: 0.7vw 8vw;
  }
}

// HERO HEADER

.header {
  position: absolute;
  display: flex;
  justify-content: flex-end;

  @include partials.breakpoint-up(large) {
    background: linear-gradient(rgba(0, 0, 0, 0.58) 0%, transparent 100%);
    padding: 0;
    &__nav-menu {
      background: none;
      position: static;
      top: 0;
      flex-direction: row;
      box-shadow: none;
      transform: none;
      padding: 10px;
      height: auto;
      a {
        margin-bottom: 0;
        transform: none;
        margin-right: 2vw;
        color: white;
        font-weight: bolder;
      }
    }
  }
}

// Menu Links (for Small and Mid Resulution)

.mobile-hidden {
  visibility: hidden;
  opacity: 0;
  transform: translateX(100%);
  transition: all 0.8s;
  @include partials.breakpoint-up(large) {
    visibility: visible;
    opacity: 1;
    transform: none;
  }
}

.mobile-visible {
  visibility: visible;
  opacity: 1;
  transform: translateX(0px);
  transition: all 0.8s;
}

.hidden:nth-child(2),
.visible:nth-child(2) {
  transition-delay: 0.1s;
}

.hidden:nth-child(3),
.visible:nth-child(3) {
  transition-delay: 0.2s;
}

.hidden:nth-child(4),
.visible:nth-child(4) {
  transition-delay: 0.3s;
}
